<h1>Welcome User!</h1>
<!--<mat-paginator [length]="100"-->
<!--               [pageSize]="3"-->
<!--               [pageSizeOptions]="[1,3]">-->
<!--</mat-paginator>-->
<div *ngFor="let day of days" style="float: left">
<mat-card style="width: 800px">
  <mat-card-title>
  <a>{{day}}</a>
  </mat-card-title>
  <mat-card-content>
   <div *ngFor="let items of task">
     <a>{{items}}</a>
   </div>
  </mat-card-content>
  <button class="btn btn-primary">+ Add Task</button>
</mat-card>
</div>

