<div>
  <div class="col">
  <h1>Login</h1>
  </div>
  <div>
    <label>Username:</label>
  <input type="text">
  </div>
  <div>
    <label>Password:</label>
    <input type="password">
  </div>
  <button class="btn btn-primary">Login</button>
  <a routerLink="/register" class="btn">Register</a>
</div>

